@media (min-width: 576px) {
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 100%;
  }
}

.icon-pos {
  margin-left: 40px;
  margin-top: 20px;
}

.cust-info {
  margin-left: 10px;
  margin-top: 12px;
  color: blue;
}

.basket {
  margin: 0px 60px;
  padding: 10px;
}

hr {
  margin: 0px;
  border: 1px solid;
}